<a href="https://colab.research.google.com/github/Ravkeerat02/comp3122_labs/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Name - Ravkeerat Singh 
<BR>
Stuednt ID - 101344680

In [211]:
#importing all the modules
import pandas as pd

In [212]:
#importing the csv file
DF = pd.read_csv('/content/test.csv')

In [213]:
#priting the top 5 
DF.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3 RavkeeratSingh,101344680
0         ID      Range      Value  Machine Type                 Zip code
1         10        192         50             F                   NXEYEM
2         20        299         21             M                   VNFKZD
3         30        378         28             X                   IMGMFY
4         40        156         44             Q                   RHRHJY

In [214]:
#assigning column names
#[ID, Range, Value, Machine Type, Zip code]
# pandas.DF.columns = ['ID', 'Range', 'Value', 'Machine Type','ZIP Code']
# DF.head()
DF.columns = ['ID', 'Range', 'Value', 'Machine Type', 'Zip code']
DF

       ID  Range  Value  Machine Type  Zip code
0      ID  Range  Value  Machine Type  Zip code
1      10    192     50             F    NXEYEM
2      20    299     21             M    VNFKZD
3      30    378     28             X    IMGMFY
4      40    156     44             Q    RHRHJY
..    ...    ...    ...           ...       ...
947  9460    136     12             C    HGVBPV
948  9470    316     46             L    SHBAUD
949  9480    461     46             K    PUZUVO
950  9490    185     13             N    UMESZO
951  9500    137     10             W    JOHHVL

[952 rows x 5 columns]

In [215]:
# #Adding header to the DF
DF = pd.read_csv('/content/test.csv')
DF.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3 RavkeeratSingh,101344680
0         ID      Range      Value  Machine Type                 Zip code
1         10        192         50             F                   NXEYEM
2         20        299         21             M                   VNFKZD
3         30        378         28             X                   IMGMFY
4         40        156         44             Q                   RHRHJY

In [216]:
#Skipping 1st row 
DF = pd.read_csv('/content/test.csv',skiprows=1)
DF.head()

   ID  Range  Value Machine Type Zip code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [217]:
#priting the type 
type(DF)

pandas.core.frame.DataFrame

In [218]:
#selecting value
DF["Value"]
DF.loc[:,['Value']].head()

   Value
0   50.0
1   21.0
2   28.0
3   44.0
4   33.0

In [219]:
#Type of the selected column
DF['Value'].dtype

dtype('float64')

In [220]:
#Fetching ZIP code as the same status
DF['Zip code'].head()
DF.loc[:,['Zip code']].head()

  Zip code
0   NXEYEM
1   VNFKZD
2   IMGMFY
3   RHRHJY
4   HPQCMC

In [221]:
#creating new series - BRAND
DF["Brand"] = DF["Machine Type"]+ DF["Zip code"].astype(str)
DF.head()

   ID  Range  Value Machine Type Zip code    Brand
0  10  192.0   50.0            F   NXEYEM  FNXEYEM
1  20  299.0   21.0            M   VNFKZD  MVNFKZD
2  30  378.0   28.0            X   IMGMFY  XIMGMFY
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY
4  50  468.0   33.0            J   HPQCMC  JHPQCMC

In [222]:
#creating new series - TOTAL
DF["Total"] = DF["Range"] *  DF["Value"]
DF.head()

   ID  Range  Value Machine Type Zip code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [223]:
#12A
DF.head()

   ID  Range  Value Machine Type Zip code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [224]:
#12B
DF.describe()

            Range       Value         Total
count  950.000000  950.000000    950.000000
mean   297.437895   29.943158   8965.992632
std    115.828540   12.267347   5261.283254
min    100.000000   10.000000   1090.000000
25%    194.000000   19.000000   4864.750000
50%    296.000000   30.000000   7916.000000
75%    398.750000   41.000000  12367.750000
max    500.000000   50.000000  24750.000000

In [225]:
#12C 
DF.describe

<bound method NDFrame.describe of        ID  Range  Value Machine Type Zip code    Brand    Total
0      10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1      20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2      30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3      40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4      50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
..    ...    ...    ...          ...      ...      ...      ...
946  9460  136.0   12.0            C   HGVBPV  CHGVBPV   1632.0
947  9470  316.0   46.0            L   SHBAUD  LSHBAUD  14536.0
948  9480  461.0   46.0            K   PUZUVO  KPUZUVO  21206.0
949  9490  185.0   13.0            N   UMESZO  NUMESZO   2405.0
950  9500  137.0   10.0            W   JOHHVL  WJOHHVL   1370.0

[951 rows x 7 columns]>

Difference between describe and describe()
<br>
Describe() - gives statistial information . Which include mean , mid , std , mode , percentile
<BR>
Describe - gives stats of the drame . Its part of NDFrame

In [226]:
#12D
DF.shape

(951, 7)

In [227]:
#12E
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip code         object
Brand            object
Total           float64
dtype: object

In [228]:
#13
DF.describe(include="object")

         ID Machine Type Zip code Brand
count   951          948      941   948
unique  951           26      941   947
top      10            F   NXEYEM  Vnan
freq      1           50        1     2

In [229]:
#Changing the ID TO MYID
DF.rename(columns={"ID":"My ID"}).head()

  My ID  Range  Value Machine Type Zip code    Brand    Total
0    10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1    20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2    30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3    40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4    50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [230]:
#Changing ID to MyID AND using inplace
DF.rename(columns={"ID":"My ID"},inplace=True)

In [231]:
#showing the columns
DF.columns

Index(['My ID', 'Range', 'Value', 'Machine Type', 'Zip code', 'Brand',
       'Total'],
      dtype='object')

In [232]:
#Changing all column names
DF.rename(columns={"ID":"id",'Range':'range','Value':'value','Machine Type':'machine type','Zip code':'zip code','Brand':'brand','Total':'total'})

    My ID  range  value machine type zip code    brand    total
0      10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1      20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2      30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3      40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4      50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
..    ...    ...    ...          ...      ...      ...      ...
946  9460  136.0   12.0            C   HGVBPV  CHGVBPV   1632.0
947  9470  316.0   46.0            L   SHBAUD  LSHBAUD  14536.0
948  9480  461.0   46.0            K   PUZUVO  KPUZUVO  21206.0
949  9490  185.0   13.0            N   UMESZO  NUMESZO   2405.0
950  9500  137.0   10.0            W   JOHHVL  WJOHHVL   1370.0

[951 rows x 7 columns]

In [233]:
#Changing all column names
DF.rename(columns={"ID":"id",'Range':'range','Value':'value','Machine Type':'machin_type','Zip code':'zip_code','Brand':'brand','Total':'total'},inplace=True)
DF.head()

  My ID  range  value machin_type zip_code    brand    total
0    10  192.0   50.0           F   NXEYEM  FNXEYEM   9600.0
1    20  299.0   21.0           M   VNFKZD  MVNFKZD   6279.0
2    30  378.0   28.0           X   IMGMFY  XIMGMFY  10584.0
3    40  156.0   44.0           Q   RHRHJY  QRHRHJY   6864.0
4    50  468.0   33.0           J   HPQCMC  JHPQCMC  15444.0

In [234]:
#Deleting specific columns
DF.drop(['brand','total'],axis=1,inplace=True)

In [235]:
#Deletings rows
DF = DF.drop([3,5],axis=0,inplace=True)

In [236]:
DF.head()

AttributeError: ignored

In [237]:
#sort values in ascending order
# DF.value.sort_values(ascending=True)
DF.value.sort(ascending=True)

AttributeError: ignored

In [238]:
DF.sort_values(by=['value'],ascending=True)

AttributeError: ignored

In [239]:
DF.sort_values(by=['value'],ascending=True,inpalce=True)

AttributeError: ignored

In [240]:
DF.sort_values(by=['range','value'],ascending=[True,False])

AttributeError: ignored

In [241]:
DF[DF['range'].between[250,350]]

TypeError: ignored

In [242]:
DF[DF['range'].between[250,350],sort_values(by=['range','value'],(ascending=True)

SyntaxError: ignored

In [243]:
DF.loc[DF.range.between(250,350) & (DF['machine_type']=='H'),['id','value']]

AttributeError: ignored

In [244]:
DF[DF['machine_type'].isin(['H','R','X'])]

TypeError: ignored

In [246]:
DF.dtypes

AttributeError: ignored

In [247]:
DF.select_dtypes('int64')

AttributeError: ignored