<a href="https://colab.research.google.com/github/Ravkeerat02/comp3122_labs/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Name - Ravkeerat Singh 
<BR>
Stuednt ID - 101344680

In [157]:
#importing all the modules
import pandas as pd

In [158]:
#importing the csv file
DF = pd.read_csv('/content/test.csv')

In [159]:
#priting the top 5 
DF.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3 RavkeeratSingh,101344680
0         ID      Range      Value  Machine Type                 Zip code
1         10        192         50             F                   NXEYEM
2         20        299         21             M                   VNFKZD
3         30        378         28             X                   IMGMFY
4         40        156         44             Q                   RHRHJY

In [160]:
#assigning column names
#[ID, Range, Value, Machine Type, Zip code]
# pandas.DF.columns = ['ID', 'Range', 'Value', 'Machine Type','ZIP Code']
# DF.head()
DF.columns = ['ID', 'Range', 'Value', 'Machine Type', 'Zip code']
DF

       ID  Range  Value  Machine Type  Zip code
0      ID  Range  Value  Machine Type  Zip code
1      10    192     50             F    NXEYEM
2      20    299     21             M    VNFKZD
3      30    378     28             X    IMGMFY
4      40    156     44             Q    RHRHJY
..    ...    ...    ...           ...       ...
947  9460    136     12             C    HGVBPV
948  9470    316     46             L    SHBAUD
949  9480    461     46             K    PUZUVO
950  9490    185     13             N    UMESZO
951  9500    137     10             W    JOHHVL

[952 rows x 5 columns]

In [161]:
# #Adding header to the DF
DF = pd.read_csv('/content/test.csv')
DF.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3 RavkeeratSingh,101344680
0         ID      Range      Value  Machine Type                 Zip code
1         10        192         50             F                   NXEYEM
2         20        299         21             M                   VNFKZD
3         30        378         28             X                   IMGMFY
4         40        156         44             Q                   RHRHJY

In [162]:
#Skipping 1st row 
DF = pd.read_csv('/content/test.csv',skiprows=1)
DF.head()

   ID  Range  Value Machine Type Zip code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [163]:
#priting the type 
type(DF)

pandas.core.frame.DataFrame

In [164]:
#selecting value
DF["Value"]
DF.loc[:,['Value']].head()

   Value
0   50.0
1   21.0
2   28.0
3   44.0
4   33.0

In [165]:
#Type of the selected column
DF['Value'].dtype

dtype('float64')

In [166]:
#Fetching ZIP code as the same status
DF['Zip code'].head()
DF.loc[:,['Zip code']].head()

  Zip code
0   NXEYEM
1   VNFKZD
2   IMGMFY
3   RHRHJY
4   HPQCMC

In [167]:
#creating new series - BRAND
DF["Brand"] = DF["Machine Type"]+ DF["Zip code"].astype(str)
DF.head()

   ID  Range  Value Machine Type Zip code    Brand
0  10  192.0   50.0            F   NXEYEM  FNXEYEM
1  20  299.0   21.0            M   VNFKZD  MVNFKZD
2  30  378.0   28.0            X   IMGMFY  XIMGMFY
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY
4  50  468.0   33.0            J   HPQCMC  JHPQCMC

In [168]:
#creating new series - TOTAL
DF["Total"] = DF["Range"] *  DF["Value"]
DF.head()

   ID  Range  Value Machine Type Zip code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [169]:
#12A
DF.head()

   ID  Range  Value Machine Type Zip code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [170]:
#12B
DF.describe()

            Range       Value         Total
count  950.000000  950.000000    950.000000
mean   297.437895   29.943158   8965.992632
std    115.828540   12.267347   5261.283254
min    100.000000   10.000000   1090.000000
25%    194.000000   19.000000   4864.750000
50%    296.000000   30.000000   7916.000000
75%    398.750000   41.000000  12367.750000
max    500.000000   50.000000  24750.000000

In [171]:
#12C 
DF.describe

<bound method NDFrame.describe of        ID  Range  Value Machine Type Zip code    Brand    Total
0      10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1      20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2      30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3      40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4      50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
..    ...    ...    ...          ...      ...      ...      ...
946  9460  136.0   12.0            C   HGVBPV  CHGVBPV   1632.0
947  9470  316.0   46.0            L   SHBAUD  LSHBAUD  14536.0
948  9480  461.0   46.0            K   PUZUVO  KPUZUVO  21206.0
949  9490  185.0   13.0            N   UMESZO  NUMESZO   2405.0
950  9500  137.0   10.0            W   JOHHVL  WJOHHVL   1370.0

[951 rows x 7 columns]>

Difference between describe and describe()
<br>
Describe() - gives statistial information . Which include mean , mid , std , mode , percentile
<BR>
Describe - gives stats of the drame . Its part of NDFrame

In [172]:
#12D
DF.shape

(951, 7)

In [173]:
#12E
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip code         object
Brand            object
Total           float64
dtype: object

In [174]:
#13
DF.describe(include="object")

         ID Machine Type Zip code Brand
count   951          948      941   948
unique  951           26      941   947
top      10            F   NXEYEM  Vnan
freq      1           50        1     2

In [175]:
#Changing the ID TO MYID
DF.rename(columns={"ID":"My ID"}).head()

  My ID  Range  Value Machine Type Zip code    Brand    Total
0    10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1    20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2    30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3    40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4    50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [176]:
#Changing ID to MyID AND using inplace
DF.rename(columns={"ID":"My ID"},inplace=True)

In [177]:
#showing the columns
DF.columns

Index(['My ID', 'Range', 'Value', 'Machine Type', 'Zip code', 'Brand',
       'Total'],
      dtype='object')

In [178]:
#Changing all column names
DF.rename(columns={"ID":"id",'Range':'range','Value':'value','Machine Type':'machine type','Zip code':'zip code','Brand':'brand','Total':'total'})

    My ID  range  value machine type zip code    brand    total
0      10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1      20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2      30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3      40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4      50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
..    ...    ...    ...          ...      ...      ...      ...
946  9460  136.0   12.0            C   HGVBPV  CHGVBPV   1632.0
947  9470  316.0   46.0            L   SHBAUD  LSHBAUD  14536.0
948  9480  461.0   46.0            K   PUZUVO  KPUZUVO  21206.0
949  9490  185.0   13.0            N   UMESZO  NUMESZO   2405.0
950  9500  137.0   10.0            W   JOHHVL  WJOHHVL   1370.0

[951 rows x 7 columns]

In [179]:
#Changing all column names
DF.rename(columns={"ID":"id",'Range':'range','Value':'value','Machine Type':'machin_type','Zip code':'zip_code','Brand':'brand','Total':'total'},inplace=True)
DF.head()

  My ID  range  value machin_type zip_code    brand    total
0    10  192.0   50.0           F   NXEYEM  FNXEYEM   9600.0
1    20  299.0   21.0           M   VNFKZD  MVNFKZD   6279.0
2    30  378.0   28.0           X   IMGMFY  XIMGMFY  10584.0
3    40  156.0   44.0           Q   RHRHJY  QRHRHJY   6864.0
4    50  468.0   33.0           J   HPQCMC  JHPQCMC  15444.0

In [180]:
#Deleting specific columns
# DF.drop(['brand','total'],axis=1, inplace=True)
# DF.drop(columns=DF.columns['brand'],inplace = true)

# DF.drop(["brand","total"],axis=1,inplace=True)

In [181]:
#Deletings rows
# DF.drop([3,5],axis=0,inplace=True)
# DF.head()

In [182]:
# DF.head()

In [183]:
#sort values in ascending order
# # DF.value.sort_values(ascending=True)
# DF = DF.sort_values(by='value').reset_index(drop=True)

In [184]:
#sorting the vales and showing the whole Data Frame
# DF.sort_values(by=['value'],ascending=True)

In [185]:
# DF.sort_values(by=['value'],ascending=True,inpalce=True)

In [186]:
# DF.sort_values(by=['range','value'],ascending=[True,False])

In [187]:
DF[DF['range'].between(250,350)]

    My ID  range  value machin_type zip_code    brand    total
1      20  299.0   21.0           M   VNFKZD  MVNFKZD   6279.0
5      60  347.0   38.0           X   XFEWVB  XXFEWVB  13186.0
6      70  327.0   24.0           F   NLVQPY  FNLVQPY   7848.0
9     100  347.0   30.0           K   RSVMXY  KRSVMXY  10410.0
10    110  301.0   29.0           A   OVINZU  AOVINZU   8729.0
..    ...    ...    ...         ...      ...      ...      ...
923  9230  276.0   30.0           C   CYADRG  CCYADRG   8280.0
930  9300  344.0   23.0           S   YRWLCJ  SYRWLCJ   7912.0
932  9320  302.0   30.0           C   MZEFTD  CMZEFTD   9060.0
933  9330  258.0   14.0           P   MCWQKU  PMCWQKU   3612.0
947  9470  316.0   46.0           L   SHBAUD  LSHBAUD  14536.0

[205 rows x 7 columns]

In [188]:
DF[DF['range'].between(250,350)].sort_values(by=['range'],ascending=True)

    My ID  range  value machin_type zip_code    brand    total
57    580  250.0   19.0           K   EFXWGS  KEFXWGS   4750.0
262  2630  250.0   12.0           O   ZZIXOA  OZZIXOA   3000.0
811  8120  251.0   49.0           D   QOWNHD  DQOWNHD  12299.0
307  3080  251.0   26.0           Z   YCKPXV  ZYCKPXV   6526.0
276  2770  252.0   38.0           J   SKKOYK  JSKKOYK   9576.0
..    ...    ...    ...         ...      ...      ...      ...
645  6460  350.0   30.0           Q   LVDEAS  QLVDEAS  10500.0
833  8340  350.0   46.0           K   NCUWLM  KNCUWLM  16100.0
382  3830  350.0   14.0           M   FOIOWR  MFOIOWR   4900.0
538  5390  350.0   10.0           J   WEUVDY  JWEUVDY   3500.0
738  7390  350.0   24.0           X      NaN     Xnan   8400.0

[205 rows x 7 columns]

In [192]:
#Displaying only ID AND values with range from 250 - 350 
DF.loc[DF.range.between(250,350),['My ID','value']]

    My ID  value
1      20   21.0
5      60   38.0
6      70   24.0
9     100   30.0
10    110   29.0
..    ...    ...
923  9230   30.0
930  9300   23.0
932  9320   30.0
933  9330   14.0
947  9470   46.0

[205 rows x 2 columns]

In [195]:
#only showing rows with H in them 
DF.loc[(DF.range.between(250,350)) & (DF['machin_type']== 'H'),['My ID','value']]

    My ID  value
260  2610   50.0
302  3030   14.0
438  4390   11.0
445  4460   32.0
493  4940   16.0
525  5260   32.0
611  6120   11.0
620  6210   47.0

In [196]:
#Only showing rows with H , R ,X in them
DF[DF['machin_type'].isin(['H','R','X'])]

    My ID  range  value machin_type zip_code    brand    total
2      30  378.0   28.0           X   IMGMFY  XIMGMFY  10584.0
5      60  347.0   38.0           X   XFEWVB  XXFEWVB  13186.0
13    140  417.0   24.0           H   UKXYWY  HUKXYWY  10008.0
17    180  352.0   38.0           R   CEGPJA  RCEGPJA  13376.0
28    290  487.0   16.0           X   WVVYSF  XWVVYSF   7792.0
..    ...    ...    ...         ...      ...      ...      ...
866  8670  321.0   14.0           R   VBMYXU  RVBMYXU   4494.0
871  8720  104.0   49.0           H   AGKGDY  HAGKGDY   5096.0
891  8920  170.0   46.0           H   SBQKUZ  HSBQKUZ   7820.0
895  8960  333.0   43.0           R   UPOVQP  RUPOVQP  14319.0
920  9210  446.0   27.0           H   WQCBIF  HWQCBIF  12042.0

[102 rows x 7 columns]

In [197]:
DF.dtypes

My ID           object
range          float64
value          float64
machin_type     object
zip_code        object
brand           object
total          float64
dtype: object

In [198]:
#showing only Dataype rows with numbers
DF.select_dtypes('int64')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[951 rows x 0 columns]