<a href="https://colab.research.google.com/github/Ravkeerat02/comp3122_labs/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Name - Ravkeerat Singh 
<BR>
Stuednt ID - 101344680

In [72]:
#importing all the modules
import pandas as pd

In [73]:
#importing the csv file
DF = pd.read_csv('/content/test.csv')

In [74]:
#priting the top 5 
DF.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3 RavkeeratSingh,101344680
0         ID      Range      Value  Machine Type                 Zip code
1         10        192         50             F                   NXEYEM
2         20        299         21             M                   VNFKZD
3         30        378         28             X                   IMGMFY
4         40        156         44             Q                   RHRHJY

In [75]:
#assigning column names
#[ID, Range, Value, Machine Type, Zip code]
# pandas.DF.columns = ['ID', 'Range', 'Value', 'Machine Type','ZIP Code']
# DF.head()
DF.columns = ['ID', 'Range', 'Value', 'Machine Type', 'Zip code']
DF

       ID  Range  Value  Machine Type  Zip code
0      ID  Range  Value  Machine Type  Zip code
1      10    192     50             F    NXEYEM
2      20    299     21             M    VNFKZD
3      30    378     28             X    IMGMFY
4      40    156     44             Q    RHRHJY
..    ...    ...    ...           ...       ...
947  9460    136     12             C    HGVBPV
948  9470    316     46             L    SHBAUD
949  9480    461     46             K    PUZUVO
950  9490    185     13             N    UMESZO
951  9500    137     10             W    JOHHVL

[952 rows x 5 columns]

In [76]:
# #Adding header to the DF
DF = pd.read_csv('/content/test.csv')
DF.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3 RavkeeratSingh,101344680
0         ID      Range      Value  Machine Type                 Zip code
1         10        192         50             F                   NXEYEM
2         20        299         21             M                   VNFKZD
3         30        378         28             X                   IMGMFY
4         40        156         44             Q                   RHRHJY

In [77]:
#Skipping 1st row 
DF = pd.read_csv('/content/test.csv',skiprows=1)
DF.head()

   ID  Range  Value Machine Type Zip code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [78]:
#priting the type 
type(DF)

pandas.core.frame.DataFrame

In [79]:
#selecting value
DF["Value"]
DF.loc[:,['Value']].head()

   Value
0   50.0
1   21.0
2   28.0
3   44.0
4   33.0

In [80]:
#Type of the selected column
DF['Value'].dtype

dtype('float64')

In [81]:
#Fetching ZIP code as the same status
DF['Zip code'].head()
DF.loc[:,['Zip code']].head()

  Zip code
0   NXEYEM
1   VNFKZD
2   IMGMFY
3   RHRHJY
4   HPQCMC

In [82]:
#creating new series - BRAND
DF["Brand"] = DF["Machine Type"]+ DF["Zip code"].astype(str)
DF.head()

   ID  Range  Value Machine Type Zip code    Brand
0  10  192.0   50.0            F   NXEYEM  FNXEYEM
1  20  299.0   21.0            M   VNFKZD  MVNFKZD
2  30  378.0   28.0            X   IMGMFY  XIMGMFY
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY
4  50  468.0   33.0            J   HPQCMC  JHPQCMC

In [83]:
#creating new series - TOTAL
DF["Total"] = DF["Range"] *  DF["Value"]
DF.head()

   ID  Range  Value Machine Type Zip code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [84]:
#12A
DF.head()

   ID  Range  Value Machine Type Zip code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [85]:
#12B
DF.describe()

            Range       Value         Total
count  950.000000  950.000000    950.000000
mean   297.437895   29.943158   8965.992632
std    115.828540   12.267347   5261.283254
min    100.000000   10.000000   1090.000000
25%    194.000000   19.000000   4864.750000
50%    296.000000   30.000000   7916.000000
75%    398.750000   41.000000  12367.750000
max    500.000000   50.000000  24750.000000

In [86]:
#12C 
DF.describe

<bound method NDFrame.describe of        ID  Range  Value Machine Type Zip code    Brand    Total
0      10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1      20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2      30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3      40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4      50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
..    ...    ...    ...          ...      ...      ...      ...
946  9460  136.0   12.0            C   HGVBPV  CHGVBPV   1632.0
947  9470  316.0   46.0            L   SHBAUD  LSHBAUD  14536.0
948  9480  461.0   46.0            K   PUZUVO  KPUZUVO  21206.0
949  9490  185.0   13.0            N   UMESZO  NUMESZO   2405.0
950  9500  137.0   10.0            W   JOHHVL  WJOHHVL   1370.0

[951 rows x 7 columns]>

Difference between describe and describe()
<br>
Describe() - gives statistial information . Which include mean , mid , std , mode , percentile
<BR>
Describe - gives stats of the drame . Its part of NDFrame

In [87]:
#12D
DF.shape

(951, 7)

In [88]:
#12E
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip code         object
Brand            object
Total           float64
dtype: object

In [89]:
#13
DF.describe(include="object")

         ID Machine Type Zip code Brand
count   951          948      941   948
unique  951           26      941   947
top      10            F   NXEYEM  Vnan
freq      1           50        1     2

In [90]:
#Changing the ID TO MYID
DF.rename(columns={"ID":"My ID"}).head()

  My ID  Range  Value Machine Type Zip code    Brand    Total
0    10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1    20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2    30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3    40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4    50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [91]:
#Changing ID to MyID AND using inplace
DF.rename(columns={"ID":"My ID"},inplace=True)

In [92]:
#showing the columns
DF.columns

Index(['My ID', 'Range', 'Value', 'Machine Type', 'Zip code', 'Brand',
       'Total'],
      dtype='object')

In [93]:
#Changing all column names
DF.rename(columns={"My ID":"id",'Range':'range','Value':'value','Machine Type':'machine type','Zip code':'zip code','Brand':'brand','Total':'total'})

       id  range  value machine type zip code    brand    total
0      10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1      20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2      30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3      40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4      50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
..    ...    ...    ...          ...      ...      ...      ...
946  9460  136.0   12.0            C   HGVBPV  CHGVBPV   1632.0
947  9470  316.0   46.0            L   SHBAUD  LSHBAUD  14536.0
948  9480  461.0   46.0            K   PUZUVO  KPUZUVO  21206.0
949  9490  185.0   13.0            N   UMESZO  NUMESZO   2405.0
950  9500  137.0   10.0            W   JOHHVL  WJOHHVL   1370.0

[951 rows x 7 columns]

In [94]:
#Changing all column names
DF.rename(columns={"My ID":"id",'Range':'range','Value':'value','Machine Type':'machin_type','Zip code':'zip_code','Brand':'brand','Total':'total'},inplace=True)
DF.head()

   id  range  value machin_type zip_code    brand    total
0  10  192.0   50.0           F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0           M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0           X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0           Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0           J   HPQCMC  JHPQCMC  15444.0

In [95]:
#Deleting specific columns
# DF.drop(['brand','total'],axis=1, inplace=True)
# DF.drop(columns=DF.columns['brand'],inplace = true)
drop_df = DF.drop(['brand','total'],axis='columns')
print(drop_df)

       id  range  value machin_type zip_code
0      10  192.0   50.0           F   NXEYEM
1      20  299.0   21.0           M   VNFKZD
2      30  378.0   28.0           X   IMGMFY
3      40  156.0   44.0           Q   RHRHJY
4      50  468.0   33.0           J   HPQCMC
..    ...    ...    ...         ...      ...
946  9460  136.0   12.0           C   HGVBPV
947  9470  316.0   46.0           L   SHBAUD
948  9480  461.0   46.0           K   PUZUVO
949  9490  185.0   13.0           N   UMESZO
950  9500  137.0   10.0           W   JOHHVL

[951 rows x 5 columns]

In [105]:
#Deletings rows
# DF.drop([3,5],axis=0,inplace=True)
# DF.head()
drop_df =DF.drop([3,5],axis='rows',inplace=True)
print(drop_df)

None

In [106]:
DF.head()

   id  range  value machin_type zip_code    brand    total
0  10  192.0   50.0           F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0           M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0           X   IMGMFY  XIMGMFY  10584.0
4  50  468.0   33.0           J   HPQCMC  JHPQCMC  15444.0
6  70  327.0   24.0           F   NLVQPY  FNLVQPY   7848.0

In [107]:
#sort values in ascending order
DF.value.sort_values(ascending=True)
DF = DF.sort_values(by='value').reset_index(drop=True)

In [108]:
#sorting the vales and showing the whole Data Frame
DF.sort_values(by=['value'],ascending=True)

,id,range,value,machin_type,zip_code,brand,total
0,9500,137.0,10.0,W,JOHHVL,WJOHHVL,1370.0
17,2760,247.0,10.0,H,PUTZZV,HPUTZZV,2470.0
16,3040,164.0,10.0,C,UCJKRW,CUCJKRW,1640.0
15,9430,135.0,10.0,C,SSGNKF,CSSGNKF,1350.0
13,2710,408.0,10.0,M,UHIEBQ,MUHIEBQ,4080.0
...,...,...,...,...,...,...,...
918,7020,246.0,50.0,Q,TELSOE,QTELSOE,12300.0
946,5600,395.0,50.0,T,CVSBMG,TCVSBMG,19750.0
931,8060,136.0,50.0,C,MLHIBG,CMLHIBG,6800.0
947,10,192.0,50.0,F,NXEYEM,FNXEYEM,9600.0
948,"#Reza Dibaj, ST ID=101280076",NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
DF.sort_values(by=['value'],ascending=True,inplace=True)

In [111]:
DF.sort_values(by=['range','value'],ascending=[True,False])

,id,range,value,machin_type,zip_code,brand,total
274,5050,100.0,21.0,S,KLYYQV,SKLYYQV,2100.0
383,4630,101.0,26.0,P,PBJHPM,PPBJHPM,2626.0
259,7990,101.0,20.0,E,QXAZJW,EQXAZJW,2020.0
131,5570,102.0,15.0,M,SSGQYR,MSSGQYR,1530.0
783,7520,103.0,44.0,Q,XOGVUH,QXOGVUH,4532.0
...,...,...,...,...,...,...,...
84,1640,499.0,13.0,M,JQQXBS,MJQQXBS,6487.0
423,4120,500.0,27.0,Q,NRNLPN,QNRNLPN,13500.0
258,7320,500.0,20.0,Z,JUKAMV,ZJUKAMV,10000.0
206,4240,500.0,17.0,Q,IYUYPO,QIYUYPO,8500.0
948,"#Reza Dibaj, ST ID=101280076",NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
DF[DF['range'].between(250,350)]

       id  range  value machin_type zip_code    brand    total
12   6870  333.0   10.0           G   BVONNE  GBVONNE   3330.0
4    5390  350.0   10.0           J   WEUVDY  JWEUVDY   3500.0
1    5070  268.0   10.0           N   WHIZNL  NWHIZNL   2680.0
38   8750  331.0   11.0           Z   QDUNSV  ZQDUNSV   3641.0
39   4390  262.0   11.0           H   JLHUNV  HJLHUNV   2882.0
..    ...    ...    ...         ...      ...      ...      ...
935  2560  322.0   50.0           P   ZZFRMM  PZZFRMM  16100.0
944  3070  315.0   50.0           D   VFJBWF  DVFJBWF  15750.0
930  1460  302.0   50.0           S   DQIHRM  SDQIHRM  15100.0
924  5430  277.0   50.0           K   ATBSJF  KATBSJF  13850.0
923  2610  287.0   50.0           H   YFDAVD  HYFDAVD  14350.0

[204 rows x 7 columns]

In [113]:
DF[DF['range'].between(250,350)].sort_values(by=['range'],ascending=True)

       id  range  value machin_type zip_code    brand    total
235   580  250.0   19.0           K   EFXWGS  KEFXWGS   4750.0
45   2630  250.0   12.0           O   ZZIXOA  OZZIXOA   3000.0
399  3080  251.0   26.0           Z   YCKPXV  ZYCKPXV   6526.0
904  8120  251.0   49.0           D   QOWNHD  DQOWNHD  12299.0
632  2770  252.0   38.0           J   SKKOYK  JSKKOYK   9576.0
..    ...    ...    ...         ...      ...      ...      ...
814  8340  350.0   46.0           K   NCUWLM  KNCUWLM  16100.0
107  3830  350.0   14.0           M   FOIOWR  MFOIOWR   4900.0
482  6460  350.0   30.0           Q   LVDEAS  QLVDEAS  10500.0
345  7390  350.0   24.0           X      NaN     Xnan   8400.0
4    5390  350.0   10.0           J   WEUVDY  JWEUVDY   3500.0

[204 rows x 7 columns]

In [115]:
#Displaying only ID AND values with range from 250 - 350 
DF.loc[DF.range.between(250,350),['id','value']]

       id  value
12   6870   10.0
4    5390   10.0
1    5070   10.0
38   8750   11.0
39   4390   11.0
..    ...    ...
935  2560   50.0
944  3070   50.0
930  1460   50.0
924  5430   50.0
923  2610   50.0

[204 rows x 2 columns]

In [118]:
#only showing rows with H in them 
DF.loc[(DF.range.between(250,350)) & (DF['id']== 'H'),['id','value']]

Empty DataFrame
Columns: [id, value]
Index: []

In [119]:
#Only showing rows with H , R ,X in them
DF[DF['machin_type'].isin(['H','R','X'])]

       id  range  value machin_type zip_code    brand    total
17   2760  247.0   10.0           H   PUTZZV  HPUTZZV   2470.0
39   4390  262.0   11.0           H   JLHUNV  HJLHUNV   2882.0
24   6120  333.0   11.0           H   YHTGCK  HYHTGCK   3663.0
18   4980  205.0   11.0           X   TKABSA  XTKABSA   2255.0
83   2200  375.0   13.0           R   ROTHUN  RROTHUN   4875.0
..    ...    ...    ...         ...      ...      ...      ...
917  3470  180.0   49.0           R   QFLPSO  RQFLPSO   8820.0
905  8720  104.0   49.0           H   AGKGDY  HAGKGDY   5096.0
939  1260  400.0   50.0           X   AHOATF  XAHOATF  20000.0
928   520  204.0   50.0           H   JGEDHI  HJGEDHI  10200.0
923  2610  287.0   50.0           H   YFDAVD  HYFDAVD  14350.0

[101 rows x 7 columns]

In [120]:
DF.dtypes

id              object
range          float64
value          float64
machin_type     object
zip_code        object
brand           object
total          float64
dtype: object

In [121]:
#showing only Dataype rows with numbers
DF.select_dtypes('int64')

Empty DataFrame
Columns: []
Index: [0, 17, 16, 15, 13, 12, 11, 10, 9, 14, 7, 6, 5, 4, 3, 2, 1, 8, 31, 32, 33, 34, 38, 36, 37, 39, 30, 35, 29, 26, 27, 25, 24, 23, 22, 21, 20, 19, 18, 28, 57, 58, 59, 60, 61, 62, 67, 64, 65, 66, 68, 56, 63, 55, 53, 41, 40, 42, 43, 44, 45, 46, 54, 48, 49, 50, 51, 52, 47, 82, 83, 84, 85, 86, 89, 88, 90, 91, 81, 87, 80, 76, 78, 77, 75, 74, 73, 72, 71, 70, 69, 79, 113, 109, 110, 111, 112, 114, 108, 116, ...]

[949 rows x 0 columns]